
		body{
			font-family: Arial; 
			font-size: 12px; 
			background: gray;
		}
		header{
			background-color: #84cb00;
			background-image: url('images/cars.jpg');
			background-repeat: no-repeat;
			background-position: center;
            padding: 5px;
            text-align: center;
		}
		header h1{
			color: #fff;
			text-shadow: 2px 2px #00;
		}
		header nav{

			text-align: center; 
			background: rgb(19, 86, 19);
			padding: 5px;
		}
		header nav a{
				color: #fff;
				background: #0a700a;

		}
		header nav a:hover{
			background: rgb(8, 253, 8);
		}
		main section a:hover{
			font-weight: bold;
		}
		main{
			background: white;
			padding; 5px;

		}
		main section{
			overflow: hidden;
		}
		.background-green{
			background: green;
		}
		.background-red{
			background: red;
		}
		.background-aqua{
			background: aqua;
		}
		.top-headline{
			color: blue;
		}
		.main-link{
			text-transform: uppercase;
		}
		
		main section p img{
            float: left;
			width: 200 px;
			height: auto;
			margin-right: 5px;
		}
		footer{
			  padding; 
			  5px;

		}

		

	